@font-face {
    font-family: "iconfont"; /* Project id 3774658 */
    src: url('//at.alicdn.com/t/c/font_3774658_grc4z9uh2nm.woff2?t=1669358600642') format('woff2'),
    url('//at.alicdn.com/t/c/font_3774658_grc4z9uh2nm.woff?t=1669358600642') format('woff'),
    url('//at.alicdn.com/t/c/font_3774658_grc4z9uh2nm.ttf?t=1669358600642') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrowup:before {
    content: "\e626";
}

.icon-arrow-down:before {
    content: "\e613";
}

.icon-up:before {
    content: "\e69d";
}

.icon-save:before {
    content: "\e603";
}

.icon-jian:before {
    content: "\e600";
}

.icon-jia:before {
    content: "\e601";
}

.icon-jia1:before {
    content: "\e602";
}

.icon-xiangpica:before {
    content: "\e638";
}

.icon-5:before {
    content: "\e604";
}

.icon-7:before {
    content: "\e606";
}

.icon-8:before {
    content: "\e607";
}

.icon-9:before {
    content: "\e608";
}

.icon-10:before {
    content: "\e609";
}

.icon-youtube:before {
    content: "\e711";
}

.icon-tuite:before {
    content: "\e652";
}

.icon-facebook:before {
    content: "\e621";
}

.icon-hipchat:before {
    content: "\e675";
}

.icon-chat--line:before {
    content: "\e632";
}

.icon-guanbi1:before {
    content: "\e6c6";
}

.icon-arrow-down-bold:before {
    content: "\e686";
}

.icon-icserch:before {
    content: "\e672";
}

.icon-cangku:before {
    content: "\eac9";
}

.icon-caidan:before {
    content: "\eaf1";
}

.icon-guanbi:before {
    content: "\eaf2";
}

.icon-gerentouxiang:before {
    content: "\eb24";
}

.icon-youjian:before {
    content: "\eb44";
}
